<section id="home" class="banner">
    <div class="banner-content">
        <h2 style="color: rgb(255, 255, 255);">Welcome to ShopNow</h2>
        <p style="color: rgb(255, 255, 255);">Your one-stop shop for everything you need.</p>
        <app-button btnname="ShopNow"></app-button>
    </div>
</section>
<section id="products" class="products-section">
    <div class="container py-5">
        <h2 class="section-title text-center mb-5">Our Products</h2>
        <app-product-list></app-product-list>
    </div>
</section>