<!-- Modal 結構 -->
<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProductModalLabel">{{isediting?"修改商品資訊":"新增商品資訊"}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- 商品編輯表單放置在此 -->
          <form (ngSubmit)="saveProduct()">
            <!-- 商品名稱 -->
            <div class="mb-3">
              <label for="productName" class="form-label">商品名稱</label>
              <input
                type="text"
                id="productName"
                class="form-control"
                [(ngModel)]="product.name"
                name="productName"
                required
              >
            </div>
  
            <!-- 商品價格 -->
            <div class="mb-3">
              <label for="productPrice" class="form-label">商品價格</label>
              <input
                type="number"
                id="productPrice"
                class="form-control"
                [(ngModel)]="product.price"
                name="productPrice"
                required
              >
            </div>
  
            <!-- 商品描述 -->
            <div class="mb-3">
              <label for="productDescription" class="form-label">商品描述</label>
              <textarea
                id="productDescription"
                class="form-control"
                [(ngModel)]="product.description"
                name="productDescription"
                rows="3"
              ></textarea>
            </div>
            
            <!--商品類別-->
            <div class="mb-3">
              <label for="productType" class="form-label">商品種類</label>
              <select class="form-control"
              id="productType"
              [(ngModel)]="product.category_id"
              name="productType">
                <option *ngFor="let category of categories"
                (value)="category"
                [selected]="category === product.category_id"
                >{{category}}</option>
              </select>
            </div>

            <!-- 商品庫存數量 -->
            <div class="mb-3">
              <label for="productStock" class="form-label">商品庫存數量</label>
              <input
                type="number"
                id="productStock"
                class="form-control"
                [(ngModel)]="product.stock_quantity"
                name="productStock"
                required
              >
            </div>

            <!-- 商品圖片 URL -->
            <div class="mb-3">
              <label for="productImage" class="form-label">商品圖片 URL</label>
              <input
                type="file"
                (change)="onFileSelected($event)"
                id="productImage"
                class="form-control"
                name="productImage"
              >
            </div>

            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary" (click)="saveProduct()">{{isediting?"儲存更改":"新增商品"}}</button>
        </div>
      </div>
    </div>
  </div>
<app-alert [show]="show" [alertMessage]="alertMessage" [isLoading]="isLoading"></app-alert>